.interna_contato {
    background: url("../img/bg-contato.jpg") no-repeat center;
    background-size: cover;
}

.contato {
    padding: 40px 0;
}

.contato_form {
    padding-right: 60px;
}

.contato_form label {
    display: block;
    color: #000000;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    margin-bottom: 4px;
    line-height: 25px;
}

.contato_form input {
    display: block;
    width: 100%;
    border: 4px solid #fec63e;
    background: none;
    color: #000;
    padding: 7px 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 14px;
}

.contato_form textarea {
    display: block;
    width: 100%;
    border: 4px solid #fec63e;
    background: none;
    color: #000000;
    outline: none;
    margin-bottom: 20px;
}

.contato_form button {
    padding: 7px 40px;
    background: none;
}

.btn:hover {
    color: #000;
    border-color: #000;
}

.contato_dados {
    color: #000;
}

.contato_dados h3 {
    color: #fec63e;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.contato_dados span {
    display: block;
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 30px;
}

.contato_dados span:nth-child(3) {
    margin-bottom: 40px;
}

.contato_dados ul li {
    display: inline-block;
    margin-right: 10px;
}

.contato_dados ul li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 10px;
}

.contato_dados ul li a:hover {
    border-color: #000;
}

.contato_dados span:nth-of-type(4) {
    margin-bottom: 30px;
}

.contato_mapa {
    margin-bottom: 60px;
}